<mat-card *ngIf="app.editing" style="width: 100%;">
    Add your favorite web sites:

    <form style="margin-bottom: 1em;">
        <div fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="column">
                <mat-form-field style="flex: 1 1 auto;">
                    <span matPrefix>https://</span>
                    <input #name name="url" type="text" matInput [(ngModel)]="url">
                </mat-form-field>
                <mat-checkbox name="sensitive" [(ngModel)]="sensitive">Sensitive URL (do not resolve icon and name)</mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutGap="1em">
                <button mat-raised-button color="primary" (click)="add()" [disabled]="!url">Add</button>
                <div style="flex: 1 1 auto;"></div>
                <button mat-raised-button (click)="cancel()">Done</button>
            </div>
        </div>
    </form>

    <mat-divider></mat-divider>

    <div style="margin-top: 2em;">
        <table #appTable style="width: 100%;" mat-table [dataSource]="app.apps" class="mat-elevation-z1"
            cdkDropList
            [cdkDropListData]="app.apps"
            (cdkDropListDropped)="dropTable($event)">

        <!-- Reorder -->
        <ng-container matColumnDef="Reorder">
            <td mat-cell *matCellDef="let element">
                <mat-icon cdkDragHandle>reorder</mat-icon>
            </td>
        </ng-container>

        <!-- Icon -->
        <ng-container matColumnDef="Icon">
            <td mat-cell *matCellDef="let element"> <img width="32" height="32" [src]="element.icon"/> </td>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="Name">
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- URL -->
        <ng-container matColumnDef="URL">
            <td fxHide.xs mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="Actions">
            <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                <button mat-icon-button (click)="delete(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
        </table>
    </div>
</mat-card>
