<form id="cloudform">
    <div mat-dialog-content>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                <mat-icon>cloud_upload</mat-icon>
                <span style="margin-left: 1em;">Backup to cloud</span>
                </ng-template>
                <div style="margin: 1em;">
                    <p>
                        Store your current settings in the cloud to be restored on another device:
                    </p>
                    <mat-form-field style="width:240px;">
                        <mat-label>Your Backup ID</mat-label>
                        <input #yourBackupID style="font-size: 2em;" name="shortid" matInput [value]="backupId" readonly="true">
                    </mat-form-field>
                    <button style="font-size: 1.5em;" mat-icon-button disabled="false" (click)="copyBackupId(yourBackupID)">
                        <fa-icon [icon]="faCopy"></fa-icon>
                    </button>
                    <br/>
                    <button *ngIf="!backupDone" type="button" mat-raised-button color="primary" (click)="backup()">Save to cloud</button>
                    <p *ngIf="backupDone">Backup was successful. Use the above backup ID to restore on any device.</p>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                <mat-icon>cloud_download</mat-icon>
                <span style="margin-left: 1em;">Restore from cloud</span>
                </ng-template>
                <div style="margin: 1em;">
                    <p>
                        Restore settings using a backup ID:
                    </p>
                    <mat-form-field style="width:240px;">
                        <mat-label>Enter Backup ID</mat-label>
                        <input style="font-size: 2em;" name="shortid" matInput [(ngModel)]="backupId">
                    </mat-form-field>
                    <button style="font-size: 1.5em;" mat-icon-button disabled="false" (click)="pasteBackupId()">
                        <fa-icon [icon]="faPaste"></fa-icon>
                    </button>
                    <br/>
                    <mat-checkbox name="deleteFromCloud" [(ngModel)]="backupDelete">Delete my data from the cloud after restoring</mat-checkbox>
                    <p>
                        <button type="button" mat-raised-button color="primary" [disabled]="!backupId" (click)="restore()">Restore</button>
                    </p>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!--div mat-dialog-actions>
        <button type="submit" mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
        <div style="flex: 1 1 auto"></div>
        <button type="button" mat-button (click)="cancel()">Close</button>
    </div-->
</form>
