<div mat-dialog-content>
    Drag & drop apps in the list below to change the order.

    <div style="margin: 2em 4em;">
        <table #appTable style="width: 100%;" mat-table [dataSource]="app.currentApps" class="mat-elevation-z1"
            cdkDropList
            [cdkDropListData]="app.currentApps"
            (cdkDropListDropped)="dropTable($event)">

        <!-- Reorder -->
        <ng-container matColumnDef="Reorder">
            <td mat-cell *matCellDef="let element">
                <mat-icon cdkDragHandle>reorder</mat-icon>
            </td>
        </ng-container>

        <!-- Icon -->
        <ng-container matColumnDef="Icon">
            <td mat-cell *matCellDef="let element"> <img width="32" height="32" [src]="element.icon" onerror="this.src='/assets/www.png'"/> </td>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="Name">
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <!-- URL -->
        <ng-container matColumnDef="URL">
            <td fxHide.xs mat-cell *matCellDef="let element"> {{!app.isFolder(element) ? element.url : ''}} </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
        </table>
    </div>

</div>
