<div id="mainBodyDiv" [ngClass]="app.modeClass">

  <!-- Toolbar -->
  <mat-toolbar id="titlebar" [ngClass]="app.modeClass" flexLayoutGap="3em">
    <!--img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    /-->
    <button mat-icon-button (click)="add()" appTooltip="Tap here to add your favorite web sites">
        <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button (click)="reorder()" style="margin-left: 1em;" [disabled]="!app.apps || app.apps.length < 2">
      <mat-icon>reorder</mat-icon>
    </button>
    <button mat-icon-button (click)="cloud()" style="margin-left: 1em;">
        <mat-icon>cloud</mat-icon>
    </button>
    <div style="flex: 1 1 auto; font-size: 1.3em;">{{app.currentFolder && app.currentFolder.name}}</div>
    <button mat-icon-button (click)="info()" style="margin-right: 1em;">
        <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button (click)="app.toggleMode()" style="margin-right: .5em;">
        <mat-icon>{{modeToggleIcon}}</mat-icon>
    </button>
    <button mat-icon-button (click)="fullscreen()">
        <mat-icon>fullscreen</mat-icon>
    </button>
  </mat-toolbar>

  <div *ngIf="app.currentFolder" style="z-index: 99; height: 90%; width: 40px; display: flex; align-items: center; position: fixed;">
    <button mat-icon-button (click)="app.closeFolder()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>

  <div fxLayout="column" class="screenCenter" [@folderAnim]="app.folderAnimationState" (@folderAnim.done)="app.folderAnimationDone($event)">
    <div fxLayout="row wrap" fxLayoutAlign="center" style="margin: .5em;">
      <pwa-launcher *ngFor="let app of app.currentApps" [app]="app"></pwa-launcher>
    </div>
  </div>

</div>
