/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

div.screenCenter {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-snack-bar-container {
    max-width: 100% !important;
}

.mat-simple-snackbar-action {
    color: white !important;
}

.modeDark {
    background-color: #444;
    color: white;
    .mat-cell {
        color: white;
    }
}

.modeLight {
    background-color: white;
}

#mainBodyDiv.modeDark {
    background-color: #111;
}

#mainBodyDiv.modeLight {
    background-color: #eee;
}

#titlebar.modeLight {
    background-color: #888;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}
